.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.carrousel {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
    gap: 3rem;
    padding: 0 1.8rem 0 1.8rem;

}

.carrousel::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
}
.carrousel::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}
/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.carrousel::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
/* Cambiamos el fondo cuando esté en active */
.carrousel::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

.divImg {
    height: 12rem;
    width: 16rem;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    height: 100%;
    transition: all 0.3s;
}
/* .img:hover {
    transform: scale(1.05);
} */


